/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.summer-grass{
  width: 65.66%;
  float: left;
  display: block;
  margin-bottom: 10px;
}

.shoe-archive{
  width: 32.33%;
  float: right;
  display:block;
  margin-bottom: 10px;
}

.lady-bugs{
  float: left;
  width: 31.33%;
  display:block;
  margin: 10px 10px 10px 0;

}
.skaters{
  width: 31.33%;
  float: left;
  display: block;
  margin: 10px 10px 0 10px;
}

.bluestar-heels{
  width: 31.33%;
  float: left;
  display: block;
  margin: 0;
}
